<div class="background">
    <div class="container">
    <div class="screen">
        <div class="screen-header">
        <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
        </div>
        </div>
        <div class="screen-body">
        <div class="screen-body-item left">
            <div class="app-title">
            <span><img src="img/Qaccess.png" alt="" height="45"></span>
            <div class="app-description">
                <span>Agora você por dentro de tudo que acontece no seu condomínio.</span>
            </div>
            </div>
            <div class="app-contact">Contato: <a class="contact" href="" class="text">www.qaccess.com.br</a></div>
        </div>
        <div class="screen-body-item">
            <div class="app-form">
            <div class="app-form-group">
                <input class="app-form-control" placeholder="Usuário">
            </div>
            <div class="app-form-group">
                <input type="password" class="app-form-control" placeholder="Senha">
            </div>
            <div class="screen-header-right">
                <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="form2Example31">Lembrar senha</label>
                </div>
            </div>
            <div class="screen-header-right">
                <a class="fsenha" href="" class="text">Esqueci minha senha.</a>
            </div>
            <div class="app-form-group buttons">
                <button class="app-form-button">Enviar</button>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="credits">Copyright © 2022 Qaccess, Inc
    </div>
    </div>
</div>