<div class="container">
  <br>
  <h4> Ocorrência</h4>  
  <br>
  <div class="panel">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nome do morador</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>
  <div class="row">
  <div class="my-3 col">
  <label for="exampleFormControlInput1" class="form-label">Data</label>
  <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>
<div class="my-3 col">
  <label for="exampleFormControlInput1" class="form-label">Selecione a sua unidade: </label>
<select class="form-select" aria-label="Default select example">
    <option value=""></option>
    <option value="1">101A - Torre das Acássias</option>
    <option value="2">201A - Torre dos Ipês</option>
    <option value="3">301A - Torre das Rosas</option>
</select>
</div>
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Descrição da ocorrência</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
</div>
<div class="row">
<div class="my-3 col">
    <label for="formFile" class="form-label">Anexar arquivo</label>
    <input class="form-control" type="file" id="formFile">
</div>
<div class="col-12">
    <button class="btn btn-primary" type="submit">Enviar</button>
</div>
</div>


</div>