
.nav {
    background-color: #339CE9;
}

.nav .container{
    display: flex;
    justify-content: space-between;    
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end
}

.nav .navbar-nav{
    display: flex;
    flex-direction: row;
}

.logonavbar{
    width: 15vh;  
}

.nav-link{
    color: white;
}

main .container{
    margin-top: 5vh;
    height: 78vh;
    width: 80vw;
}

.carousel-inner{
    width: 60vw;
    margin: auto;
    margin-top: 3%;
    height: 50vh;
    overflow :hidden;
}


.carousel-control-prev {
    left: 10%;
}

.carousel-control-next {
    right: 10%;
}

@media(max-width: 768px){
    .nav .container{
        display: flex;
        flex-direction: row;    
    }

    .nav .navbar-nav{
        flex-direction: column;
    }
}
