.nav{
    margin: 0;
    background-color: #339CE9;
}
.page-footer{
    background-color: #339CE9;
}

.logonavbar{
    width: 10vw;
}

.container {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





